<table style="width:100%" >
  <tr>
    <th>Meno</th>
    <th>Pozicia v menu</th>
    <th>Sidebar</th>
  </tr>
<% @categories.each do |category| %>
 <tr>
    <td><h4><%= category.name %></h4></td>
    <td><%= category.position %></p></td>
    <td><%= category.side %></p></td>
      <% if admin_signed_in? %>
    <td><%= link_to "Upraviť", edit_category_path(category), class: "btn btn-default" %>
      <%= link_to "Zmazať", category_path(category), class: "btn btn-danger", data: {:confirm => "Ste si isty?"}, method: :delete %></td>
      <%end%>
      </tr>
<%end%>
</table>
