<% find_side %>
<% if @side.empty? %>
<div class="reklama">
    <%= image_tag("oaza.png") %>
</div>
<div class="reklama">
    <%= image_tag("slovaktual.jpg") %>
</div>
<%else%>
<% @side.each do |side| %>
<div class="category_box">

 <h4><%= side.name %></h4>
  <hr>
  <% side.posts.each do |post| %>
  <%= link_to post.title, post_path(post)%>
  <hr>

  <%end%>
  </div>
  <div class="reklama">
      <%= image_tag("slovaktual.jpg") %>
  </div>
  <%end%>


  <%end%>
