<% find_side %>
<% if @side.empty? %>
<%= render "layouts/reklama" %>
<%= render "layouts/reklama" %>
<%else%>
<% @side.each do |side| %>
<div class="category_box">

 <h4><%= side.name %></h4>
  <hr>
  <% side.posts.each do |post| %>
  <%= link_to post.title, post_path(post)%>
  <hr>

  <%end%>
  </div>
  <%= render "layouts/reklama" %>
  <%end%>


  <%end%>
