<!DOCTYPE html>
<html>
  <head>
    <title>
    Dtonline<%= if content_for?(:title) then  ' | ' + yield(:title) end %>
  </title>
    <%= csrf_meta_tags %>
    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Najstarší nezávislý regionálny portál') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'Detva,Podpoľanie,správy,novinky,spravodajstvo') %>' />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="content">

      <%= render "layouts/header" %>
      <%= render "layouts/navigation" %>

    <%= yield %>
  </div>


  <%= render "layouts/footer" %>

  </body>
</html>
