<!DOCTYPE html>
<html>
  <head>
    <title>
    Tvoje Podpoľanie<%=  ' | ' + yield(:title) if content_for?(:title) %>
  </title>
    <%= csrf_meta_tags %>
    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Najstarší nezávislý regionálny portál') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'Detva,Podpoľanie,správy,novinky,spravodajstvo') %>' />
      <meta property="og:image" content='<%= @post.image.url if @post.present?%>' />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="path/to/lightbox.css" rel="stylesheet">

  </head>

  <body>

    <%= render "layouts/header" %>
    <%= render "layouts/navigation" %>
    <div class="content">



    <%= yield %>
  </div>


  <%= render "layouts/footer" %>
  <%= javascript_include_tag "footer" %>
  </body>
</html>